body{
    font-family:'Courier New', Courier, monospace;
    background-color: beige;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    color: red; 
}

.rr{
    float: right;
}

.l{
    float:left;
    width: 50%;
    height: 25%;
}
.r {
    float: left;
    text-align: left;
}
