body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    background:;
}

.cap {
    border: solid 1px black;
    border-radius: 7px;
}