h1,
h2,
h3{
    text-align: center;
}

body {
    background-color: lightgrey;
}

h5 {
    text-align: center;
    font-weight: normal;
}

header {
    border: black 2px solid;
    background-color: lightblue;
}
iframe {
    border-collapse: collapse;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: blue;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

main {
    display: flex;
}

.divr {
    padding: 1rem;
    border: black 1px solid;

}

.box {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
}
main .work {
    background-color: aqua;
    padding-left: 1rem;
    padding-bottom: 2rem;
    width: 40%;
    border: black 2px solid;
}

main .edu {
    background-color: aquamarine;
    width: 30%;
    padding-left: 1rem;
    padding-bottom: 2rem;
    border: black 2px solid;
}

main .proj {
    background-color: aquamarine;
    width: 30%;
    padding-left: 1rem;
    padding-bottom: 2rem;
    border: black 2px solid;
}

.review {
    background-color: lightblue;
    border: black 2px solid;
}

.l {
    float: right;
    width: 50%;
    height: 50px;
    text-align: right;
}

.d {
    width: 44%;
    height: 50px;
    float: left;
    padding-left: 4px;
}

.e {
    width: 100%;
    height: 180px;
    vertical-align: middle;
    padding-top: 5rem;
}

.img {
    float: left;
    width: 50px;
}